.words-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.word-tile {
  background-color: #777;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  &:hover {
    background-color: #999;
    cursor: pointer;
  }
}
