@use "../../colors.scss" as c;

.course-page {
  position: relative;
  height: 100%;
  display: flex;
  &__modules {
    height: 100%;
    margin-right: 10px;
    flex: 1;
    &__tiles {
      padding-top: 50px;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      &__tile {
        position: relative;
        display: flex;
        align-items: flex-start;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        padding: 5px 25px;
        transition: all 0.3s ease-in-out;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;

        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transform: translateY(-2px) scaleX(1.1);
          cursor: pointer;
          border: 2px solid c.$blue-btn2;
        }
        &__img {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  &__details {
    margin: 10px;

    padding: 10px;
    // border: 3px solid c.$blue-btn2;
    border-radius: 10px;
    flex: 4;
  }
}

.module-details-container {
  position: relative;
  width: 100%;
  height: calc(100% - 20px);
  background-color: #fff7f7;
  border: 3px solid c.$blue-btn2;

  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.module-details {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 70%;
  // margin-top: 0;
  // background-color: #eee;

  &__buttons {
    height: 40%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    // position: absolute;
    // bottom: 40px;
    // right: 50%;
    // transform: translateX(50%);
    &__learning-btn {
      font-size: 22px;
      margin-top: 10px;
      margin-left: 10px;
      padding: 40px 60px;
      border: 1px solid c.$blue-btn2;
      background-color: transparent;
      color: c.$blue-btn2;
      border-radius: 4px;
      transition: all 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: c.$blue-btn2;
        color: #fff;
      }
    }

    &__quiz-btn {
      cursor: pointer;
      font-size: 22px;
      margin-top: 10px;
      margin-left: 10px;
      border: none;
      background-color: #fff7f7;
      color: c.$black;
      border-radius: 4px;
      transition: all 0.3s ease-in-out;
      text-decoration: underline;
      &:hover {
        color: c.$blue-btn2;
        scale: 1.15;
      }
    }
  }
  li {
    color: black;
  }
  &__left {
    border: 1px solid c.$blue-btn2;
    box-shadow: 0 0 10px 0 c.$gray;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    height: 100%;
    flex: 3;
    margin: 20px;

    &__choice {
      margin: 5px;
      display: flex;
      flex-direction: column;

      &__flashcards {
        flex: 1;
      }
      &__lessons {
        border-bottom: 1px solid c.$blue-btn2;

        flex: 1;
      }
    }
  }
  &__right {
    border: 1px solid c.$blue-btn2;

    margin-top: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px 0 c.$gray;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    height: 100%;
    flex: 2;
  }
}
