@use "../../../colors.scss" as c;

.quiz {
  position: relative;
  height: 100vh;
}

.answer {
  color: c.$black;
}

.first-page-quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
