@use "../../colors.scss" as c;
.logging {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, c.$yellow-back 50%, c.$black-back 50%);

  &__user-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 300px;
    position: absolute;
    top: 50%;
    transition: left 0.3s ease;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    &--login {
      color: c.$white;
      left: 25%;
      background-color: c.$black-back;
    }
    &--register {
      left: 75%;
      color: c.$black;
      background-color: c.$yellow-back;
    }

    &__buttons {
      display: flex;
      justify-content: center;

      &__btn {
        transition: background-color 0.5s ease, color 1s ease-out;
        border: none;
        width: 100%;
        border-radius: 10px;
        background-color: c.$white;
        padding: 10px;
        &--right {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &--left {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:hover {
          cursor: pointer;
          background-color: rgba(c.$blue-buttons, 0.83);
          color: c.$white;
        }
      }
    }
  }
  &__register {
    &__buttons {
      margin-top: 10px;
      display: flex;
      gap: 10px;
      justify-content: center;
      &__btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: c.$black;
        border: none;
        &:hover {
          cursor: pointer;
          border: 2px solid c.$blue-buttons;
        }
        &--active {
          background-color: c.$white;
          color: c.$black;
          border: 2px solid c.$blue-buttons;
        }
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transition: top 1s ease-in-out;
    left: 75%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 32px;
      margin: 0;
    }
    &--login {
      h1 {
        top: 55%;
        color: c.$yellow-back;
      }
    }
    &--register {
      top: 45%;
      left: 25%;
      color: c.$black;
    }
  }
}

.btn--active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: c.$blue-buttons;
  color: c.$white;
  // border: 2px solid c.$blue-buttons;
}
