@use "../../colors.scss" as c;
.logging {
  width: 100%;
  height: calc(100vh - 50px);

  &__user-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 300px;
    position: absolute;
    top: 50%;
    transition: left 0.3s ease;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 30px;

    &--login {
      color: c.$black;
      left: 25%;
      background-color: c.$white;
      box-shadow: 0 0 10px 0 rgba(c.$black, 0.5);
      border: 2px solid c.$blue-btn2;
    }
    &--register {
      left: 75%;
      color: c.$white;
      background-color: c.$white;
      box-shadow: 0 0 10px 0 rgba(c.$black, 0.5);
      border: 2px solid c.$blue-btn2;
    }

    &__buttons {
      border: 2px solid c.$blue-btn2;
      border-radius: 13px;
      display: flex;
      justify-content: center;

      &__btn {
        transition: background-color 0.5s ease, color 1s ease-out;
        border: none;
        width: 100%;
        border-radius: 10px;
        background-color: c.$white;
        padding: 10px;
        &--right {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &--left {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:hover {
          cursor: pointer;
          background-color: rgba(c.$blue-btn2, 0.83);
          color: c.$white;
        }
      }
    }
  }
  &__register {
    &__buttons {
      margin-top: 10px;
      display: flex;
      gap: 10px;
      justify-content: center;
      &__btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: c.$black;
        background-color: c.$white;
        border: none;
        &:hover {
          cursor: pointer;
          border: 2px solid c.$blue-btn2;
        }
        &--active {
          background-color: c.$white;
          color: c.$black;
          border: 2px solid c.$blue-btn2;
        }
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transition: top 1s ease-in-out;
    left: 75%;
    transform: translate(-50%, -50%);

    h1 {
      border-radius: 10px;
      font-size: 32px;
      margin: 0;
    }
    &--login {
      h1 {
        font-size: 40px;
        top: 55%;
        color: c.$black;
      }
    }
    &--register {
      font-size: 40px;

      top: 45%;
      left: 25%;
      color: c.$black;
    }
  }
}

.btn--active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: c.$blue-btn2;
  color: c.$white;
}

.form-display {
  margin-top: 20px;
  gap: 10px;
  &__input {
    min-width: 70%;
    max-width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #777;
    box-sizing: border-box; /* This includes padding in the width */
  }
}
