@use "../../colors.scss" as c;
.contact-form {
  color: c.$black;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 80px;
  background-color: c.$white;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 c.$gray;
  border: 2px solid c.$blue-btn2;

  &__item {
    display: flex;
    flex-direction: column;
    h1 {
      margin: 5px;
    }
    &__input {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #777;
    }
    &__choice {
      padding: 3px;
    }
  }
  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: c.$white;
    color: c.$black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid c.$blue-btn2;
    transition: all 0.4s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: c.$blue-btn2;
      color: c.$white;
    }
  }
}
