@use "../../../colors.scss" as c;

.modules-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  &__subject {
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    color: c.$black;
    &__hover {
      text-decoration: underline;
    }
  }
}

.subject {
  position: relative;

  width: 80%;
  height: 80%;
  margin: auto auto;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  &__desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__header {
    margin: 10px 0px 5px 0px;
  }
}

.nav-subject-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 6px 6px;
  background-color: c.$white;
  padding: 7px 7px;

  &:hover {
    cursor: pointer;
  }
  &--right {
    right: 0;
    left: auto;
  }
}
