.navbar {
  width: 100%;
  height: 50px;
  // position: fixed;
  top: 0;
  &__items {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;

    &__navi {
      text-decoration: none;
    }
  }
}
