#root {
  width: 100%;
  height: 100vh;

  text-align: center;
}

.page-container {
  /* background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(145, 219, 254, 1) 100%
  ); */
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    225deg,
    rgba(255, 255, 255, 1) 34%,
    rgba(145, 219, 254, 1) 77%
  ); */
  /* background: rgb(255, 255, 255); */
  /* background: linear-gradient(
    225deg,
    rgba(255, 255, 255, 1) 17%,
    rgba(145, 219, 254, 1) 77%
  ); */
  /* background: linear-gradient(
    225deg,
    rgba(255, 255, 255, 1) 16%,
    rgba(145, 219, 254, 1) 100%
  ); */

  /* background-color: rgb(181, 232, 232); */

  margin-top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
