// $yellow-back: rgb(250, 235, 54);
// $yellow-back: rgb(69, 170, 184);
$blue-back: rgb(69, 170, 184);
$yellow-back: rgb(95, 226, 243);
$blue-btn: rgb(95, 226, 243);
$pink-hover: rgb(237, 162, 228);
// $yellow-back: rgb(243, 231, 95);
$green-btn: rgb(122, 247, 118);
$black-back: rgb(18, 19, 10);
$blue-btn2: rgb(46, 116, 196);
$blue-buttons: #000080;
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: #777;
$error: #940909;
$light-red: #ee6767;
$dark-red: #e74949;
